# Three Market Test

In [1]:
import os
import simbywire as sw

In [2]:
import pathlib

In [3]:
input_file = sw.demo_network("3mkt")

In [4]:
sim = sw.Simulation.from_yaml(input_file)

In [5]:
summary = sim.run(log_reports=False)

[2023-07-15 18:48:19,023] AirSim.INFO: building connections
[2023-07-15 18:48:19,024] AirSim.INFO: Connections done, num_paths = 18
[2023-07-15 18:48:20,294] AirSim.INFO: Th' th' that's all folks !!!    (Elapsed time = 1.27)

In [6]:
summary.demands

  orig dest   segment  sold   revenue    avg_fare
0  BOS  SFO  business    44  13520.40  307.281818
1  BOS  SFO   leisure     1    304.56  304.560000
2  BOS  ORD  business   119  37360.40  313.952941
3  BOS  ORD   leisure    44  13400.64  304.560000
4  BOS  DFW  business   163  52358.50  321.217791
5  BOS  DFW   leisure    98  30046.48  306.596735

In [7]:
summary.legs

  carrier  flt_no orig dest  avg_sold     avg_rev         lf
0     AL1       1  BOS  SFO    29.560   9068.6616  29.560000
1     AL2       2  BOS  SFO    29.745   9122.0112  29.745000
2     AL1       3  BOS  ORD    51.920  16174.0312  51.920000
3     AL2       4  BOS  ORD    52.250  16279.3264  52.250000
4     AL3       5  BOS  ORD    52.685  16427.1792  43.904167
5     AL1       6  BOS  DFW    41.650  13110.9265  34.708333
6     AL1       7  BOS  DFW    41.185  12982.8734  34.320833
7     AL2       8  BOS  DFW    42.065  13228.7152  35.054167
8     AL4       9  BOS  DFW    41.540  13075.0099  34.616667

In [8]:
summary.paths

   orig dest carrier1  flt_no1 carrier2 flt_no2
0   BOS  SFO      AL1        1     None    None
1   BOS  SFO      AL2        2     None    None
2   BOS  ORD      AL1        3     None    None
3   BOS  ORD      AL2        4     None    None
4   BOS  ORD      AL3        5     None    None
5   BOS  DFW      AL1        6     None    None
6   BOS  DFW      AL1        7     None    None
7   BOS  DFW      AL2        8     None    None
8   BOS  DFW      AL4        9     None    None
9   BOS  DFW      AL1        6     None    None
10  BOS  DFW      AL1        7     None    None
11  BOS  DFW      AL2        8     None    None
12  BOS  DFW      AL4        9     None    None
13  BOS  ORD      AL1        3     None    None
14  BOS  ORD      AL2        4     None    None
15  BOS  ORD      AL3        5     None    None
16  BOS  SFO      AL1        1     None    None
17  BOS  SFO      AL2        2     None    None

In [9]:
summary.airlines

  name  avg_sold  load_factor     avg_rev          asm         rpm
0  AL1       164    36.337426  51336.4927  118440000.0  43038047.0
1  AL2       124    37.746366  38630.0528   76560000.0  28898618.0
2  AL3        53    43.904167  16427.1792   41880000.0  18387065.0
3  AL4        42    34.616667  13075.0099   41880000.0  14497460.0